using System;

namespace isimyas
{
    class Program
    {
        static void Main(string[] args)
        {

            Console.WriteLine("Yaşınızı Giriniz: ");
            int sayi = Convert.ToInt32(Console.ReadLine());
            Console.WriteLine("Adınızı Giriniz: ");
            string isim = Console.ReadLine();
            string sonuc = $"{isim} merhaba yazılım sayfama hoşgeldin, şuan {sayi} yaşındasın";
            Console.WriteLine(sonuc);
            Console.ReadLine();

            
        }
    }
}
